.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: rgba(33,34,41,1);
  background: -moz-linear-gradient(left, rgba(33,34,41,1) 0%, rgba(72,69,92,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,34,41,1)), color-stop(100%, rgba(72,69,92,1)));
  background: -webkit-linear-gradient(left, rgba(33,34,41,1) 0%, rgba(72,69,92,1) 100%);
  background: -o-linear-gradient(left, rgba(33,34,41,1) 0%, rgba(72,69,92,1) 100%);
  background: -ms-linear-gradient(left, rgba(33,34,41,1) 0%, rgba(72,69,92,1) 100%);
  background: linear-gradient(to right, rgba(33,34,41,1) 0%, rgba(72,69,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212229', endColorstr='#48455c', GradientType=1 );
}
.mainpanel{
  bottom: 0;
  z-index: 99999;
  background-color: #E3E3E3;
  min-height: 50em;
  border-radius: 5px 5px 0 0;
  margin-top: 2em;
}

.head{
  background-color: #ff5c39;
  z-index: 1000;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  min-height: 55px;
  padding: 18px 16px 16px;
  color: white;
  margin-bottom: 20px;
}
span {
  font-size: 1.5em;
}
.head-title{
  font-size: 100%;
}
.panelround{
  max-height: 6em;
}
.pointer{
  cursor: pointer;
}
.image-large{
  max-height: 19em;
}
.title {
  font-size: 2.5em;
}

/* Custom page header */
.header {
/*  border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
